extends layout

block content 
  .row.collapse
    img.circular.hello-img(src='images/zoigberg.jpg', alt='')
  form(action='/login', type='POST', id='frmLogin')

    .row
      .large-6.columns
          label Name
          input.error(type='text', name='name', placeholder='Type your fantastic name here!', required)
          small(class='error hide')
          
      .large-6.columns
        label Password
          input(type='password', name='password', placeholder='Then your strong password!', required, pattern='.{6,}')
          small(class='error hide')
    .row
        input(type='submit', class='button right large-3', value='Let\'s go!')

