extends layout

block content 
  .row.collapse
    img.circular.hello-img(src='images/zoigberg.jpg', alt='')
  form(action='/login', type='POST', id='frmLogin')

    .row
      .columns 
        .grpErreur
            small(class='hide error') 
              i(class="fa fa-exclamation-circle")  &nbsp;
              span Erreur

    .row
      .columns
        .grpName
          label name
          input.error(type='text', name='name', placeholder='Type your fantastic name here!', required)
          
    .row
      .columns
        .grpPassword
          label password
          input(type='password', name='password', placeholder='Then your strong password!', required, pattern='.{6,}')

    .row
      .columns
        .grpConnect
            input(type='submit', class='button', value='Connect')

