doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='styles/importer.css')
    script(src='js/dependencies/modernizr.js')

  body
    nav
      a(href="/")
        img.logo(src='images/logo.png', alt='logo')
    section#content
        block content     
          
    footer.text-center
      hr
      p
        a(href='http://www.skander.ca') skander
        |  |  
        a(href='https://github.com/leyka') github
        |  | 
        a(href='/about') about

    //script(src='http://localhost:8080/socket.io/socket.io.js')

    script(src='js/dependencies/jquery.js')
    script(src="js/dependencies/sails.io.js")
    script(src="js/validation.js")

    //script(src='js/foundation.min.js')
