extends ../layout

block content 
  .row.collapse
    img.circular.hello-img(src='images/zoigberg.jpg', alt='')
  form(action='/login', method='post', id='frmLogin')

    - if (error)
      .row
        .columns 
          .grpError
              small(class='error') 
                i(class="fa fa-exclamation-circle")  &nbsp;
                span=error

    .row
      .columns
        .grpName
          label name
          input.error(type='text', name='name', placeholder='Type your fantastic name here!', required)
          
    .row
      .columns
        .grpPassword
          label password
          input(type='password', name='password', placeholder='Then your strong password!', required, pattern='.{6,}')

    .row
      .colums
          .grpLink
              a(href="/signup") Want to join Zoidberg ?

    .row
      .columns
        .grpConnect
            input(type='submit', class='button', value='Connect')

