button, 
input[type="submit"]
  background-color: #07BD90
  
button:hover, 
input[type="submit"]:hover
  background-color: #039974
  
input[type="password"]
  margin 0

.hide
  display none !important