input[type="submit"]
  background #EC6345
  
input[type="submit"]:hover
  background #CA5940
  
input[type="password"]
  margin 0

.hide
  display none !important
  
input[type="text"], 
input[type="password"]
  border: none
  border-bottom: 2px solid #07BD90
  color #0B8466
  
input[type="text"]:focus, 
input[type="password"]:focus
  border: none
  border-bottom: 2px solid #0b8466